<section class="text-bg-primary p-3 mx-auto align-items-around">
    <div class="vstack justify-content-center align-items-around">
        <div class="hstack gap-5">
            <p>{{name}}</p>
            <p >{{id}}</p>
        </div>
        <p>{{description}}</p>
    </div>
    <div class="hstack justify-content-around">
        <form method="GET" action="/groups/{{id}}">
            <input type="submit" value="Edit Group">
        </form>
        <form method="POST" action="/groups/delete">
            <input type="hidden" value="{{id}}" name="id">
            <input type="submit" value="Delete Group">
        </form>
    </div>
</section>