<section class="text-bg-primary p-3 mx-auto align-items-around">
    <div class="vstack justify-content-center align-items-around">
        <div class="hstack gap-5">
            <p>{{name}}</p>
            <p >{{id}}</p>
        </div>
        <p>{{description}}</p>
    </div>
    <section>
        {{#each events}}
            <hr>
            {{> eventPartial}}
        {{/each}}
    </section>
    <div class="hstack justify-content-around">
        <form method="GET" action="/site/groups/{{id}}/update">
            <input type="submit" value="Save">
        </form>
        <form method="POST" action="/site/groups/{{id}}/delete">
            <input type="submit" value="Delete Group">
        </form>
    </div>
</section>