<div class="d-flex flex-column justify-content-center align-items-center h-100">
    {{> header}}
    <div class="text-bg-primary p-3 mx-auto align-items-around">
        <div class="vstack justify-content-center align-items-around">
            <div class="hstack gap-5">
                <p>{{name}}</p>
                <p >{{id}}</p>
            </div>
            <p>{{description}}</p>
        </div>
        <ul>
            {{#each events}}
                <hr>
                <li>{{> eventPartial}}</li>
            {{else}}
                <p>No events in this group</p>
            {{/each}}
        </ul>

    </div>
    <div>
        <h2>Update Group</h2>
        <form action="update" method="post">
            <input type="hidden" name="id" id="id" value="{{id}}" placeholder="Insert a Group Id">
            New Name: <input type="text" name="name" placeholder="Insert a New Name"  required>
            New Description: <input type="text" name="description" placeholder="Insert a New Description" required>
            <input type="submit" value="Edit group">
        </form>
    </div>
    <div>
        <h2>Delete group</h2>
        <form action="delete" method="post">
            <input type="hidden" name="id" id="id" value="{{id}}">
            <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
        </form>
    </div>
</div>
